page-punch-list {
    
    ion-list-header {
        font-weight: bold;
    }

    ion-item-divider {
        font-weight: bold;
    }
    
    ion-item {
        align-items: center;
        text-align: center;
    }
}
