page-googlemaps {
     #map {
        height: 100%;
        width: 100%;
    }

    #myid{
        
        font: bold 13px Arial;
        font-weight: bold;
        text-decoration: none;        
        background-color: #0870F9;
        color: #EEEEEE;
        padding: 2px 6px 2px 6px;
        border-top: 1px solid dodgerblue;
        border-right: 1px solid dodgerblue;
        border-bottom: 1px solid dodgerblue;
        border-left: 1px solid dodgerblue;
    }

}