<!--
  Generated template for the ATPRANDocumentDynamicFormDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{documentName}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-grid *ngFor="let header of metaTable.header">

    <ion-row *ngIf="header.startsWith('NE')">
      <ion-col>
        <button ion-button (click)="showReferencePhotos()">Reference Photos</button>
      </ion-col>
      <ion-col>
        <button ion-button (click)="showActualPhotos()">Actual Photos</button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="header.startsWith('ST')">
      <ion-col>
        <p>{{metaTable.item[header]}}</p>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="header.startsWith('RS')">
      <ion-col>
        <p>{{header.split('_')[1]}}</p>
      </ion-col>
      <ion-col>
        <ion-list name="{{header}}" radio-group [(ngModel)]="metaTable.item[header]">
          <ion-item *ngFor="let rs of rsItems">
            <ion-label>{{rs.data}}</ion-label>
            <ion-radio [value]="rs.pmdefaultid" [disabled]="disableRSItem(rs.data)"></ion-radio>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="header.startsWith('NE')">
      <ion-col color="primary">Item Check</ion-col>
      <ion-col>
        <ion-select name="{{header}}" [(ngModel)]="itemCheckArray" multiple="true" (ngModelChange)="itemCheckOnChange()">
          <ion-option *ngFor="let ic of metaTable.item.NELIST.split(',')" [value]="ic">{{ic}}</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="header.startsWith('UT')">
      <ion-col color="primary">{{header.split('_')[1]}}</ion-col>
      <ion-col>
        <ion-input type="text" text-right placeholder="Enter {{header.split('_')[1]}}" name="{{header}}" [(ngModel)]="metaTable.item[header]"></ion-input>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-item>
    <button ion-button item-right (click)="savePage()">Save</button>
  </ion-item>

  <ion-grid *ngFor="let header of metaTable.header">
    <ion-row *ngIf="header.startsWith('NE')">
      <ion-item *ngFor="let details of punchListDetails" (click)="selectItem(details)">
        {{details.OpenIssue}} - {{details.OpenIssueDesc}}
        <ion-icon name="arrow-dropright" item-right></ion-icon>
      </ion-item>
    </ion-row>
  </ion-grid>

</ion-content>